<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 开启驼峰命名转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 开启二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 日志实现 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <!-- 逐个注册实体类，避免 Tomcat 9 下扫描包路径时的规范化问题 -->
        <typeAlias type="com.campus.entity.User" alias="User"/>
        <typeAlias type="com.campus.entity.Product" alias="Product"/>
        <typeAlias type="com.campus.entity.Order" alias="Order"/>
        <typeAlias type="com.campus.entity.Category" alias="Category"/>
        <typeAlias type="com.campus.entity.UserProfile" alias="UserProfile"/>
        <typeAlias type="com.campus.entity.OperationLog" alias="OperationLog"/>
    </typeAliases>

    <plugins>
        <!-- PageHelper分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>



